@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root {
  --cor-primaria: #f9d84d;
  --cor-primaria-clara: #ffec9c;
  --cor-secundaria: #f94d58;
  --cor-secundaria-clara: #fd9ca3;
  --cor-fundo: #333333;
  --cor-fundo-clara: #555555;
  --cor-texto: #cccccc;

  --fonte-texto: 'IBM Plex Sans', sans-serif;
  --fonte-titulo: 'Playfair Display', serif;
}

* {
  font-family:var(--fonte-texto);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--cor-texto);
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 1px solid navy;
  background-color: var(--cor-primaria);
  min-height: 50px;
}
#img-logo {
  background-color: transparent;
}
#menu-principal {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cor-secundaria);

  width: 100%;
}
#menu-principal ul {
  display: flex;

  list-style-type: none;
}

#menu-principal ul li a {
    font-family:var(--fonte-titulo);
  display: flex;
  align-items: center;
  height: 36px;
  transition: 300ms;
  color: var(--cor-texto);
  padding: 0 10px;
  margin: 0 10px;
}

#menu-principal ul li a:hover {
  filter: brightness(1.2);
}

#menu-principal a {
  text-decoration: none;
}

main {
  display: flex;
  justify-content: center;
  align-items: stretch;

  min-height: 100px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cor-fundo-clara);
  min-height: 50px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: var(--cor-secundaria-clara);
  min-height: 100%;
  width: 75%;
  margin: 5px;
}
aside {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  border: 1px solid indigo;
  background-color: var(--cor-texto);
  width: 25%;
}

article {
  display: flex;

  justify-content: center;
  align-items: center;
  margin: 5px;
  border: 1px solid silenna;
  background-color: linen;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 600px) {
  main {
    flex-direction: column;
  }
  section {
    width: 100%;
  }
  aside {
    width: 100%;
  }
}
